image: debian

before_script:
  - apt update
  - apt install openssh-client sshpass -y

stages:
  - build
  - deploy

# Job para construir a imagem Docker e rodar o container
build:
  stage: build
  script:
    - echo "游뚾 Iniciando o build da imagem Docker..."
    - docker build -t sisalmox .
  only:
    - master
    - dev

# Job de deploy para o ambiente de produ칞칚o
deploy_production:
  stage: deploy
  script:
    - echo "游 Iniciando o deploy para produ칞칚o..."
    - export SERVER_PATH=$SERVER_PATH_PROD  # Vari치vel de ambiente para a pasta de produ칞칚o
    - bash ./rebuild_sisalmox.sh
  only:
    - master  # Esse job s칩 rodar치 na branch master
  environment:
    name: production
    url: http://localhost:3010/login  # URL do ambiente de produ칞칚o teste

# Job de deploy para o ambiente de desenvolvimento
deploy_develop:
  stage: deploy
  script:
    - echo "游 Iniciando o deploy para desenvolvimento..."
    - export SERVER_PATH=$SERVER_PATH_DEV  # Vari치vel de ambiente para a pasta de desenvolvimento
    - bash ./rebuild_sisalmox.sh
  only:
    - dev  # Esse job s칩 rodar치 na branch dev
  environment:
    name: development
    url: http://localhost:3010/login  # URL do ambiente de desenvolvimento
